* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.navbar-brand .logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
}

.bg-primary img {
  width: 40px;
  background: center;
  margin: 8px;
}

.bg-primary {
  background: linear-gradient(rgba(0, 0, 0, 0.2), #009688);
}

.jumbotron h1 {
  font-size: 150px;
  font-family: "UnifrakturMaguntia", cursive;
  color: #e2dcde;
}

.jumbotron p {
  font-size: 30px;
  font-style: italic;
  color: #fff;
}

.jumbotron a {
  font-size: 20px;
  font-style: italic;
  color: #fff;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.2), #f29e4c),
    url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

#footer {
  position: fixed-bottom;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.card-body img {
  width: 100px;
  background: center;
  margin: 8px;
}

.container img {
  position: center;
  height: 60vh;
}
.container h5 {
  padding-top: 40px;
  font-size: 40px;
  color: #fff;
}

.container p {
  font-size: 20px;
  color: #fff;
}
#carouselExampleIndicators {
  width: 50%;
  position: center;
}

@media Screen and (max-width: 700px) {
  .jumbotron h1 {
    background-size: cover;
    font-size: 70px;
    font-family: "Roboto Slab", serif;
  }

  .container p {
    font-size: 13px;
    font-family: "Roboto Slab", serif;
  }
  .container h5 {
    font-size: 14px;
    font-style: bold;
    font-family: "Roboto Slab", serif;
  }
}

/*@media Screen and (max-width: 800px) {




	.container {

		padding-bottom: 150px;
	}


	.container p {

		font-size: 15px;
		font-family: 'Roboto Slab', serif;

	}
	.container h5{
		font-size: 25px;
		font-style: bold;
		font-family: 'Roboto Slab', serif;

	}



}

*/
